@keyframes
animation_name {
    
    0%{color:red;
    font-size: 20px;
}
    50%
    {color:green;
        font-size: 22px
    }
    100%
    {color:blue;
        margin-bottom: 10px;
    }
}

@keyframes aesth{
    0%{margin-left: -20px}
    50%{margin-left: 20px}
    100%{margin-left: -20px}
0%{color:red;
}
    50%
    {color:green;    }
    100%
    {color:blue;
    }
    
}

@keyframes bg{
    0%{background-color: AntiqueWhite;}
    25%{background-color: LightPink;}
    50%{background-color: LightSkyBlue;}
    75%{background-color: DarkSeaGreen;}
    100%{background-color: HotPink;}
    
}

body{
    animation-name: bg;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    
}

.anime{
    animation-name: animation_name;
    animation-duration: 0.45s;
    animation-iteration-count:infinite;
    padding: auto;
    padding-top: 10px;
    height: 100px;
}

img {
    width: 400px;
    height: 200px;
}
body {
    text-align: center;
    font-family: "Arial";
    
}
.b {height: 10px;
width: 10px;
}

.aesthetic {
    animation-name: aesth;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

